In [1]:
import os
import json
import pandas as pd
import numpy as np
import tqdm
import scipy.sparse as sp

from pprint import pprint
from collections import defaultdict

DATA_PATH = 'D:\download'
with open(os.path.join(DATA_PATH, 'test_users.json'), 'r') as f:
    test_users = set(json.load(f)['users'])
    
    
        
transactions = pd.read_csv(
    os.path.join(DATA_PATH, 'transactions.csv'),
    dtype={
        'element_uid': np.uint16,
        'user_uid': np.uint32,
        'consumption_mode': 'category',
        'ts': np.float64,
        'watched_time': np.uint64,
        'device_type': np.uint8,
        'device_manufacturer': np.uint8
    })

transactions_exp = pd.read_csv(
    os.path.join(DATA_PATH, 'transactions_exp.csv'),
    
)


pd.set_option('display.max_columns', 50)

from collections import Counter
catal=pd.read_json(os.path.join(DATA_PATH, 'catalogue.json'), orient='index') 
catal['element_uid']=catal.index

catal=catal.reset_index()
catal=catal.drop(['index'], 1)

In [2]:
ratings = pd.read_csv(
    os.path.join(DATA_PATH, 'ratings.csv'),
    dtype={
        'element_uid': np.uint16,
        'user_uid': np.uint32,
        'ts': np.float64,
        'rating': np.uint8
    }
)
with open(os.path.join( 'answ29.03(for2mod).json'), 'r') as f:    #вставить сюда из первой модели
    answ = (json.load(f))
bk=pd.DataFrame.from_dict(answ, orient='index')
bk.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,7079,3230,3757,10061,283,9472,1636,7449,1326,905,4141,427,9089,2694,1004.0,1650.0,5405.0,7400.0,8436.0,2714.0
131072,7079,6127,905,1577,1004,1016,3916,9491,1227,8436,2360,4171,2714,10084,4548.0,5623.0,2694.0,8647.0,3239.0,1521.0
2,3452,4141,71,6377,1636,3567,9089,2030,8501,9472,5405,5644,7233,4519,4978.0,5541.0,72.0,9430.0,1681.0,5798.0
262145,4441,3045,546,6409,6213,9179,10061,3336,5554,229,6195,1521,813,1570,8771.0,3856.0,6236.0,1538.0,2245.0,6127.0
524291,3567,5405,3256,5644,9089,7233,8215,8501,427,72,1681,9430,3329,4519,1349.0,57.0,6937.0,6662.0,3250.0,10032.0

In [3]:
ind=[]
for i in range(20):
    ind.append(i)
pred=pd.DataFrame(index=ind, columns=[1, 2])
pred1=pd.DataFrame()
for i in (bk.index):
    pred[1]=i
    for j in range (20):
        pred[2][j]=bk[j][i]
    pred1=pred1.append(pred)
pred1['user_uid']=pred1[1]
pred1['element_uid']=pred1[2]
pred1=pred1.drop([1,2],1)
pred1.head()

  user_uid element_uid
0        0        7079
1        0        3230
2        0        3757
3        0       10061
4        0         283

In [4]:
pred=pd.merge(pred1, catal, on=['element_uid'])
transactions=pd.merge(transactions, catal, on=['element_uid'])

In [5]:
transactions=transactions.drop([ 'consumption_mode', 'device_type', 'device_manufacturer', 'attributes'],1)
pred=pred.drop([ 'attributes'],1)

transactions['watched_time']=transactions['watched_time']/60

#transactions=transactions[transactions.user_uid == test_users]

In [6]:
pred.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995411 entries, 0 to 995410
Data columns (total 10 columns):
user_uid        995411 non-null object
element_uid     995411 non-null object
availability    995411 non-null object
duration        995411 non-null int64
feature_1       995411 non-null float64
feature_2       995411 non-null float64
feature_3       995411 non-null int64
feature_4       995411 non-null float64
feature_5       995411 non-null float64
type            995411 non-null object
dtypes: float64(4), int64(2), object(4)
memory usage: 83.5+ MB

In [7]:
        
transactions = pd.read_csv(
    os.path.join(DATA_PATH, 'transactions.csv'),
    dtype={
        'element_uid': np.uint16,
        'user_uid': np.uint32,
        'consumption_mode': 'category',
        'ts': np.float64,
        'watched_time': np.uint64,
        'device_type': np.uint8,
        'device_manufacturer': np.uint8
    })
transactions['watched_time']=transactions['watched_time']/60
transactions=pd.merge(transactions, catal, on=['element_uid'])
transactions=transactions.drop([ 'consumption_mode', 'device_type', 'device_manufacturer', 'attributes'],1)
transactions0=transactions.loc[transactions['user_uid'].isin(test_users)]
pred['ts']=44305181.2180206
transactions=transactions0.append(pred)

In [8]:

transactions_exp= transactions 

dct1={0.6547073468 : 1, 0.0 : 0, 0.6804096966000001 : 0, 0.5927161087 : 0, -1.0 :0, 0.4496666915 :0 }
dct2={0.6547073468 : 0, 0.0 : 1, 0.6804096966000001 : 0, 0.5927161087 : 0, -1.0 :0, 0.4496666915 :0}
dct3={0.6547073468 : 0, 0.0 : 0, 0.6804096966000001 : 1, 0.5927161087 : 0, -1.0 :0, 0.4496666915 :0}
dct4={0.6547073468 : 0, 0.0 : 0, 0.6804096966000001 : 0, 0.5927161087 : 1, -1.0 :0, 0.4496666915 :0}
dct5={0.6547073468 : 0, 0.0 : 0, 0.6804096966000001 : 0, 0.5927161087 : 0, -1.0 :1, 0.4496666915 :0}
dct6={0.6547073468 : 0, 0.0 : 0, 0.6804096966000001 : 0, 0.5927161087 : 0, -1.0 :0, 0.4496666915 :1}
transactions_exp['feature_5_65']=transactions_exp['feature_5'].map(dct1)
transactions_exp['feature_5_00']=transactions_exp['feature_5'].map(dct2)
transactions_exp['feature_5_68']=transactions_exp['feature_5'].map(dct3)
transactions_exp['feature_5_59']=transactions_exp['feature_5'].map(dct4)
transactions_exp['feature_5_-1']=transactions_exp['feature_5'].map(dct5)
transactions_exp['feature_5_44']=transactions_exp['feature_5'].map(dct6)

transactions_exp['smallf3']= transactions_exp['feature_3'].map(lambda x: 1 if x <18  else 0)
transactions_exp['middlef3']=transactions_exp['feature_3'].map(lambda x: 1 if (x >17 and x <33)  else 0)
transactions_exp['bigf3']=transactions_exp['feature_3'].map(lambda x: 1 if x >32  else 0)

transactions_exp['type_m']= transactions_exp['type'].map(lambda x: 1 if x == 'movie' else 0)  
transactions_exp['type_s']= transactions_exp['type'].map(lambda x: 1 if x == 'series' else 0)
transactions_exp['type_mm']= transactions_exp['type'].map(lambda x: 1 if x == 'multipart_movie' else 0)

transactions_exp = transactions_exp.drop(['type'], 1) 
transactions_exp['feature_5_65']=transactions_exp['feature_5_65'].astype(np.int16)
transactions_exp['feature_5_00']=transactions_exp['feature_5_00'].astype(np.int16)
transactions_exp['feature_5_68']=transactions_exp['feature_5_68'].astype(np.int16)
transactions_exp['feature_5_59']=transactions_exp['feature_5_59'].astype(np.int16)
transactions_exp['feature_5_-1']=transactions_exp['feature_5_-1'].astype(np.int16)
transactions_exp['smallf3']= transactions_exp['smallf3'].astype(np.int16)
transactions_exp['middlef3']=transactions_exp['middlef3'].astype(np.int16)
transactions_exp['bigf3']=transactions_exp['bigf3'].astype(np.int16)
transactions_exp['type_m']=transactions_exp['type_m'].astype(np.int16)
transactions_exp['type_s']=transactions_exp['type_s'].astype(np.int16)
transactions_exp['type_mm']= transactions_exp['type_mm'].astype(np.int16)
transactions_exp['feature_3']=transactions_exp['feature_3'].astype(np.int16)
transactions_exp['duration']=transactions_exp['duration'].astype(np.int16)
transactions_exp['element_uid']=transactions_exp['element_uid'].astype(np.int32)
transactions_exp['user_uid']=transactions_exp['user_uid'].astype(np.int32)


from collections import Counter
coun = pd.DataFrame.from_dict(Counter(transactions['element_uid']), orient='index')
coun['element_uid']=coun.index
coun['quantity']=coun[0]
coun=coun.reset_index()
coun=coun.drop(['index'], axis=1)
coun=coun.drop([0], axis=1)
transactions_exp=pd.merge(transactions_exp, coun, on='element_uid')
transactions_exp["rating_mean"] = transactions_exp.element_uid.map(ratings.groupby("element_uid").rating.mean())

In [9]:
coun = pd.DataFrame.from_dict(Counter(transactions['user_uid']), orient='index')
coun['user_uid']=coun.index
coun['quantity_user_views']=coun[0]
coun=coun.reset_index()
coun=coun.drop(['index'], axis=1)
coun=coun.drop([0], axis=1)
transactions_exp=pd.merge(transactions_exp, coun, on='user_uid')

In [10]:

t_e=transactions_exp
t_e['ts-f1']=t_e['ts']-t_e['feature_1']
t_e["new_content"]=t_e['ts-f1'].map(lambda x: 1 if x<31 else 0)

t_e['quartile__element_views'] = pd.qcut(t_e['quantity'], 4, ['1','2','3','4'])
t_e['quartile__user_views'] = pd.qcut(t_e['quantity_user_views'], 4, ['1','2','3','4'])
t_e['quartile__duration'] = pd.qcut(t_e['duration'], 4, ['1','2','3','4'])
t_e["Q_el_views=1"]=t_e['quartile__element_views'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_el_views=4"]=t_e['quartile__element_views'].map(lambda x: 1 if x=='4' else 0)
t_e["Q_us_views=1"]=t_e['quartile__user_views'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_us_views=4"]=t_e['quartile__user_views'].map(lambda x: 1 if x=='4' else 0)
t_e["Q_duration=1"]=t_e['quartile__duration'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_duration=4"]=t_e['quartile__duration'].map(lambda x: 1 if x=='4' else 0)


t_e['quartile__f2'] = pd.qcut(t_e['feature_2'], 4, ['1','2','3','4'])

t_e["Q_f2=1"]=t_e['quartile__f2'].map(lambda x: 1 if x=='1' else 0)
t_e["Q_f2=4"]=t_e['quartile__f2'].map(lambda x: 1 if x=='4' else 0)
t_e=t_e.drop(['quartile__element_views', 'quartile__user_views',  'quartile__duration',  'quartile__f2'],1)

t_e['new_content']=t_e['new_content'].astype(np.int16)
t_e['Q_el_views=1']=t_e['Q_el_views=1'].astype(np.int16)
t_e['Q_el_views=4']=t_e['Q_el_views=4'].astype(np.int16)
t_e['Q_us_views=1']=t_e['Q_us_views=1'].astype(np.int16)
t_e['Q_us_views=4']=t_e['Q_us_views=4'].astype(np.int16)
t_e['Q_duration=1']=t_e['Q_duration=1'].astype(np.int16)
t_e['Q_duration=4']=t_e['Q_duration=4'].astype(np.int16)
t_e['Q_f2=1']=t_e['Q_f2=1'].astype(np.int16)
t_e['Q_f2=4']=t_e['Q_f2=1'].astype(np.int16)
t_e.duration= t_e.duration.map(lambda x: 5 if x == 0 else x)
t_e['ts-f1']=t_e['ts-f1'].abs()

In [11]:
t_e.rating_mean=t_e.rating_mean.fillna(5.0)
t_e['watched_time_perc']=(t_e.watched_time)/(t_e.duration)
t_e["wtp_mean"] = t_e.user_uid.map(t_e.groupby("user_uid").watched_time_perc.mean())
t_e=t_e.drop(['ts'], 1)

t_e['element_uid']=t_e['element_uid'].astype(np.int32)
t_e['user_uid']=t_e['user_uid'].astype(np.int32)

In [12]:
t_e.head()

,availability,duration,element_uid,feature_1,feature_2,feature_3,feature_4,feature_5,user_uid,watched_time,feature_5_65,feature_5_00,feature_5_68,feature_5_59,feature_5_-1,feature_5_44,smallf3,middlef3,bigf3,type_m,type_s,type_mm,quantity,rating_mean,quantity_user_views,ts-f1,new_content,Q_el_views=1,Q_el_views=4,Q_us_views=1,Q_us_views=4,Q_duration=1,Q_duration=4,Q_f2=1,Q_f2=4,watched_time_perc,wtp_mean
0,"[purchase, rent, subscription]",90,3336,4.166108e+07,0.739609,45,1.141929,0.654707,117582,95.450000,1,0,0,0,0,0,0,0,1,1,0,0,17135,8.328548,8,2.643801e+06,0,0,1,1,0,1,0,0,0,1.060556,0.405102
1,"[purchase, rent, subscription]",100,6272,4.041556e+07,0.675218,34,1.140273,0.680410,117582,NaN,0,0,1,0,0,0,0,0,1,1,0,0,7249,7.791030,8,3.889619e+06,0,0,0,1,0,0,0,1,1,NaN,0.405102
2,"[purchase, rent, subscription]",90,2468,4.139052e+07,0.729653,32,1.141929,0.654707,117582,NaN,1,0,0,0,0,0,0,1,0,1,0,0,4324,8.034254,8,2.914660e+06,0,0,0,1,0,1,0,0,0,NaN,0.405102
3,"[purchase, rent, subscription]",110,1016,4.075138e+07,0.722234,24,1.140273,0.654707,117582,NaN,1,0,0,0,0,0,0,1,0,1,0,0,24100,8.354839,8,3.553802e+06,0,0,1,1,0,0,0,0,0,NaN,0.405102
4,"[purchase, rent, subscription]",90,603,4.234673e+07,0.676286,26,1.141929,0.680410,117582,2.716667,0,0,1,0,0,0,0,1,0,1,0,0,3334,6.402469,8,1.930652e+06,0,0,0,1,0,1,0,1,1,0.030185,0.405102

In [13]:
t_e.watched_time_perc= t_e.watched_time_perc.map(lambda x: 1 if x > 0.49 else 0)

In [14]:
t_e=t_e.drop(['availability'], 1)

In [15]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold

X_train=t_e[~t_e.watched_time.isnull()]
X_train=X_train.drop(['watched_time', 'watched_time_perc'],1)

y_train=t_e[~t_e.watched_time.isnull()].watched_time_perc.astype(np.int)
X_test=t_e[t_e.watched_time.isnull()]
X_test=X_test.drop([ 'watched_time', 'watched_time_perc'],1)
#y_test = t_e[t_e.watched_time.isnull()].watched_time_perc


kf = KFold(n_splits=3, shuffle=True, random_state=241)

In [16]:


estimator=xgb.XGBClassifier(n_estimators=700, max_depth=8, n_jobs=-1 )
estimator.fit(X_train, y_train)
submit=estimator.predict_proba(X_test)

In [47]:
Cb3=gs3.best_params_['n_estimators']
Sb3=gs3.best_score_
print(Cb3, Sb3)

700 0.7291433258079433

In [48]:

grid2=  {'max_depth': [5,7,8]}
estimator2=xgb.XGBClassifier(n_estimators=Cb3, n_jobs=-1 )
gs2 = GridSearchCV(estimator2, grid2, scoring='roc_auc', cv=kf, n_jobs=-1)
gs2.fit(X_train, y_train)
Cb2=gs2.best_params_['max_depth']
Sb2=gs2.best_score_
print(Cb2, Sb2)

8 0.7323838080846767

In [49]:
if Sb2 > (Sb3-0.0001):
    grid3=  {'learning_rate': [1, 0.1, 0.01]}
    estimator3=xgb.XGBClassifier(max_depth=Cb2, n_estimators=Cb3, n_jobs=-1 )
    gs3 = GridSearchCV(estimator3, grid3, scoring='roc_auc', cv=kf, n_jobs=-1)
    gs3.fit(X_train, y_train)
    Cb3=gs3.best_params_['learning_rate']
    Sb3=gs3.best_score_
    print(Cb3, Sb3)
else:
    grid3=  {'learning_rate': [1, 0.1, 0.01]}
    estimator3=xgb.XGBClassifier(max_depth=6, n_estimators=Cb3, n_jobs=-1 )
    gs3 = GridSearchCV(estimator3, grid3, scoring='roc_auc', cv=kf, n_jobs=-1)
    gs3.fit(X_train, y_train)
    Cb3=gs3.best_params_['learning_rate']
    Sb3=gs3.best_score_
    print(Cb3, Sb3)
    

importances = gs3.best_estimator_.feature_importances_
indices = np.argsort(importances)[::-1]
feature_names=X_train.columns
print("Feature importances:")
for f, idx in enumerate(indices):
    print("{:2d}. feature '{:5}' ({:.4f})".format(f + 1, feature_names[idx], importances[idx]))

0.1 0.7323838080846767
Feature importances:
 1. feature 'wtp_mean' (0.1520)
 2. feature 'ts-f1' (0.1451)
 3. feature 'user_uid' (0.1420)
 4. feature 'quantity_user_views' (0.1103)
 5. feature 'element_uid' (0.0707)
 6. feature 'quantity' (0.0657)
 7. feature 'rating_mean' (0.0634)
 8. feature 'feature_2' (0.0586)
 9. feature 'feature_1' (0.0510)
10. feature 'feature_3' (0.0406)
11. feature 'duration' (0.0354)
12. feature 'feature_4' (0.0313)
13. feature 'feature_5' (0.0151)
14. feature 'feature_5_65' (0.0043)
15. feature 'feature_5_59' (0.0036)
16. feature 'feature_5_44' (0.0028)
17. feature 'type_m' (0.0022)
18. feature 'middlef3' (0.0020)
19. feature 'type_s' (0.0016)
20. feature 'feature_5_00' (0.0014)
21. feature 'type_mm' (0.0005)
22. feature 'new_content' (0.0004)
23. feature 'Q_el_views=1' (0.0000)
24. feature 'feature_5_68' (0.0000)
25. feature 'feature_5_-1' (0.0000)
26. feature 'smallf3' (0.0000)
27. feature 'Q_us_views=1' (0.0000)
28. feature 'Q_f2=4' (0.0000)
29. feature 'Q_el_views=4' (0.0000)
30. feature 'Q_us_views=4' (0.0000)
31. feature 'Q_duration=1' (0.0000)
32. feature 'Q_duration=4' (0.0000)
33. feature 'Q_f2=1' (0.0000)
34. feature 'bigf3' (0.0000)

In [59]:
gs3.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=8, min_child_weight=1, missing=None, n_estimators=103,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=<mtrand.RandomState object at 0x00000000BC918B88>,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [60]:
gs2.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=8, min_child_weight=1, missing=None, n_estimators=700,
       n_jobs=-1, nthread=None, objective='binary:logistic',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=None, silent=True, subsample=1)

In [50]:
from boruta import BorutaPy

feat_selector = BorutaPy(gs3.best_estimator_, n_estimators='auto', verbose=2, random_state=241)
X_trainB=X_train.values
y_trainB=y_train.values
y_trainB=y_trainB.ravel()
feat_selector.fit(X_trainB, y_trainB)

# check selected features - first 5 features are selected
feat_selector.support_

# check ranking of features
feat_selector.ranking_

# call transform() on X to filter it down to selected features
X_filtered = feat_selector.transform(X_trainB)
model2=model2.fit(X_filtered, y_trainB)
submit = pd.DataFrame(model2.predict_proba(X_test_filtered), columns=["draw", "win", "lose"])
submit.to_csv("sampleBoruta.csv")

ValueError: Please check your X and y variable. The providedestimator cannot be fitted to your data.
b"Invalid Parameter format for seed expect int but value='<mtrand.RandomState object at 0x00000000BC918B88>'"

In [17]:
submit=pd.DataFrame(submit)

array([[0.5514645 , 0.4485355 ],
       [0.5347519 , 0.46524814],
       [0.55772483, 0.4422752 ],
       ...,
       [0.55734116, 0.44265884],
       [0.47499925, 0.52500075],
       [0.39302886, 0.60697114]], dtype=float32)

In [33]:
yy=gs3.predict(X_test)

D:\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [34]:
yy

array([0, 0, 0, ..., 0, 1, 1])

In [18]:
submit=pd.DataFrame(submit)
X_test=X_test.drop(['duration', 'feature_1', 'feature_2', 'feature_3',
       'feature_4', 'feature_5',   'feature_5_65',
       'feature_5_00', 'feature_5_68', 'feature_5_59', 'feature_5_-1',
       'feature_5_44', 'smallf3', 'middlef3', 'bigf3', 'type_m', 'type_s',
       'type_mm', 'quantity', 'rating_mean', 'ts-f1', 'new_content',
       'quantity_user_views', 'Q_el_views=1', 'Q_el_views=4', 'Q_us_views=1',
       'Q_us_views=4', 'Q_duration=1', 'Q_duration=4', 'Q_f2=1', 'Q_f2=4',
        'wtp_mean'],1)

X_test=X_test.reset_index()
X_test=X_test.drop(['index'], 1)
OLD=pd.concat([X_test, submit], 1)
OLD.head()

   element_uid  user_uid         0         1
0         6272    117582  0.551464  0.448536
1         2468    117582  0.534752  0.465248
2         1016    117582  0.557725  0.442275
3         2245    117582  0.514218  0.485782
4         8771    117582  0.618222  0.381778

In [31]:
y=pd.DataFrame(y)
OLD=pd.concat([X_test, y], 1)
OLD.head()

   element_uid  user_uid         0         1
0         6272    117582  0.508896  0.491104
1         2468    117582  0.521488  0.478512
2         1016    117582  0.567935  0.432065
3         2245    117582  0.524091  0.475909
4         8771    117582  0.620664  0.379336

In [35]:
OLD.tail()

        element_uid  user_uid         0         1
995246         3843     68265  0.507158  0.492842
995247         1716     68265  0.858225  0.141775
995248         7780     68265  0.536452  0.463548
995249         1662     68265  0.477386  0.522614
995250         9574     68265  0.347643  0.652357

In [19]:
OLD['rating']=OLD[1]
OLD=OLD.drop([0, 1],1)
OLD.head()

   element_uid  user_uid    rating
0         6272    117582  0.448536
1         2468    117582  0.465248
2         1016    117582  0.442275
3         2245    117582  0.485782
4         8771    117582  0.381778

In [20]:
OLD=OLD.sort_values(by=['user_uid', 'rating'], ascending=False)

In [21]:
result={}
for user_uid in pd.unique(OLD.user_uid):
    result[(user_uid).astype(str)] = OLD.element_uid[OLD.user_uid == user_uid].values.tolist()#[:20]

In [22]:
with open('secondnodel03_04.json', 'w') as f:
    json.dump(result, f)

In [68]:
result2={}
for user_uid in (pd.unique(OLD2srt.user_uid)):
    result2[(user_uid).astype(str)] = OLD2srt.element_uid[OLD2srt.user_uid == user_uid].values.tolist()[:20]
with open('secondnodelRF.json', 'w') as f:
json.dump(result2, f)